# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/ctrlbank?schema=public"

# Auth
LUCIA_AUTH_SECRET="your_lucia_auth_secret_here_min_32_chars"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
